
/* Tyylit sivuille */

body::before {
    display: block;
    content: '';
}

.section {
    margin-top: 4rem;
    padding-top: 4rem;
}
.section:last-of-type {
    padding-bottom: 4rem;
}
    
/* hero background image */
.bgimage {
    height:100vh;
    background: url('https://m.media-amazon.com/images/I/71HEZBorXiL._AC_UF1000,1000_QL80_.jpg');
    background-size:cover;
    position:relative;
    padding: 0;
    margin: 0;
}
/* text css above hero image*/
.hero_title {
    padding-top: 10rem;
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.image_about {
    width: 100%;
}

.content {
    display: inline-block; /* Tausta mukautuu tekstin leveyteen */
    background-color: rgba(0, 0, 0, 0.589); /* Vaalea tausta ja läpinäkyvyys */
    padding: 20px; /* Lisää tilaa tekstin ympärille */
    border-radius: 10px; /* Pyöristää laatikon kulmat */
    box-shadow: 0px 12px 15px rgba(172, 20, 20, 0.1); /* Lisää varjo */
    max-width: 50%; /* Estää taustan venymisen liian leveäksi */
    width: fit-content; /* Mukauttaa leveyden tekstin mukaan */
}



/*//////////////// Navbar ///////////////*/



.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-youtube:hover,
.fa-instagram:hover,
.fa-discord:hover, 
.fa-twitch:hover {
    color: #fff;
}
.fab {
    color: #000000;
}


/* Yleiset kortti tyylit */
.servicesText.card {
    height: 350px;
    cursor: pointer;
    margin-bottom: 30px; /* Lisää väliä korttien alle */
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;  /* Varmistaa, että kortti täyttää koko korkeusalueen */
    padding: 20px;  /* Lisätään hieman sisätilaa korttiin */
    justify-content: space-between;  /* Asettaa sisällön tasaisesti kortin sisällä */
    align-items: center;  /* Keskittää sisällön vaakasuunnassa */
}

/* Ikonit */
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
    margin-top: 15px;
}

/* Hover-efektit */
.card:hover .servicesIcon {
    color: #d31730;
}

.servicesText:hover {
    border: 1px solid #d31730;
}

/* Pyöreä painike */
.btn-round {
    display: inline-block;  /* Varmistaa, että painike on inline-block */
    padding: 10px 20px;
    background-color: white;
    color: #333;  /* Tummanharmaa väri */
    text-decoration: none;
    border-radius: 50px;  /* Pyöreät kulmat */
    border: 2px solid #333;  /* Tummanharmaa reunus */
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;  /* Liukuminen hoverin aikana */
    width: 120px;  /* Poistetaan 100% leveys, jotta painike ei ole täysleveä */
    height: 50px;  /* Käyttää sisällön korkeus */
    margin-top: auto;  /* Asettaa painikkeen kortin alaosaan */
    text-align: center;  /* Keskittää tekstin painikkeessa */
}

/* Hover-efekti painikkeelle */
.btn-round:hover {
    background-color: #333;  /* Tummanharmaa tausta hoverilla */
    color: white;  /* Valkoinen teksti hoverilla */
}


@media (max-width: 768px) {
    .painike {
        margin-left: auto;
        margin-right: auto; /* Keskittää painikkeen mobiilissa */
    }
}
/* kurssit input */
@media(min-width: 768px) {
    .kurssit-input {
        width: 50%;
    }
}