

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


section {
    padding: 60px 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: center;
}
section:nth-child(even) {
    background-color: #e9ecef;
}
